.containerVisor{
  height: calc(100% - 3em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1em;
}

.containerMenuSelectors{
  z-index: 1000;
  background-color: #FDA163;
  border-top: solid 2px #C2112675;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.mySelect{
  color: white;
  background-color: #C21126;
  border: none !important;
}

.controls {
  position: relative;
  z-index: 10;
  top: 5em;
  left: 0px;
  width: 240px;
  height: 100px;
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  padding-left: 25px;
  z-index: 3;
  
}


.anysText {
     /* display: inline-block; */
    /* vertical-align: top; */
    font-size: 0.8em;
}

.anysControls {
  display: inline-block;
  vertical-align: top;
}

.anysButtons {
  margin-left: 10px;
  /* margin-top: 20px; */
  display: inline-block;
  position: relative;
  vertical-align: top;
  left: 25px;
}


.anysIcones {
  font-size: 27px !important;
  cursor: pointer;
  /* padding-top: 4px !important; */
  /* top: 0px; */
  margin-top: 1px !important;
}
 


.anysIconesDintre {
  margin: 7px 0px;
}

.anysRangs{

  position: relative;
  top: 20px;
  left: 21px;

}

.anySelecionat {
  margin-top: 20px;
  /* margin-bottom: -7px; */
  vertical-align: top;
  font-weight: bold;
  margin-left: -5px;
  font-size: 4em;
  cursor: default;
  width: 105px;
}