.containerlogo {
	max-width: 10em;
	padding: 0.5rem;
}

.containertitle{
	padding: 1em;

}

.title{
	color: #fff !important;
	/* color: #C21126; */
}

.containeritemRight{
	padding: 0.8em;
}

.buttonModalInfoMobile{
	font-size: 0.8em;
}


.myMenu {
	height: 0.8em;
	border-bottom: 2px solid #fff;
}

.containerHeader{
	width: 100%;
	max-height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* padding: 1em;
	margin-bottom: 1em; */
	background-color:#FA481E;
}

/* .containerlogo{
	align-self: flex-start;	
}
.containertitle{
	align-self: center;
}

.containerlogo{
	align-self: flex-end;
} */