.containerlogo {
	max-width: 10em;
	padding: 0.5rem;
}

.containertitle{

}

.title{
	color: #78000E !important;
	/* color: #C21126; */
}

.containeritemRight{

}

.myMenu {
	height: 0.8em;
	border-bottom: 2px solid #e4191d;
}

.containerHeader{
	width: 100%;
	max-height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* padding: 1em;
	margin-bottom: 1em; */
	background-color:#FDA163;
}