.containerFooter{
	width: 100%;
	max-height: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5em;
	background-color:#FA481E;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	justify-content: space-between;
}

.containerFooterMobile{
	width: 100%;
	max-height: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5em;
	background-color:#FA481E;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	justify-content: center;
}

.myInvertedButton{
	box-shadow: none !important;
	background: transparent none !important;
	color: #fff !important;
	text-shadow: none!important;
}

.myInvertedButton:hover, .myInvertedButton:focus {
	background: #fff !important;
	box-shadow: 0 0 0 2px #fff inset!important;
	color: rgba(0,0,0,.8) !important;
}

.description{
	width:100%;
}

.containerRightMobile{
	align-self: flex-end;
}