.map{
    width: 100%;
 height: 100vh;

}

.slider{

    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 100;
    color: white;
    width: 124px;
    height: 119px;
    background-color: #345A73;
    padding: 10px;
    opacity: 0.9;
    border-radius: 5px;

}


.panelinfo{
    position: absolute;
    z-index: 50;
    top: 123px;
    left: 0px;
    width: 240px;
    background: rgba(248, 248, 248, 0.9);
    padding: 20px;
   
}

.panelinfoPopup{
    position: absolute;
    z-index: 50;
    top: 123px;
    /* bottom: 35px; */
    left: 0px;
    width: 240px;
    height: 73px;
    background: rgba(248, 248, 248, 0.9);
   
    font-size: 1em;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.panelinfoheader{
    padding: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
.panelinfoheaderdetail{
    min-height: 30px;

}
.panelinfoheaderclose{
    height: 30px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    float: right;
    vertical-align: middle;
    cursor:pointer;

}
.panelinfoheadertext{
    color: #C21125;

}
.panelinfobody{
   
padding-top:5px

}

.panelinfolink{
   
    border: 1px solid #C21125;
    margin-top: 10px;
    padding: 2px;
    font-weight: bold;
    color: #C21125;
    border-radius: 2px;
}

.panelinfolink:hover{
   
    border: 1px solid #C21125;
    margin-top: 10px;
    padding: 2px;
    font-weight: bold;
    color: #C21125;
    border-radius: 2px;
    text-decoration: underline;
}


.infolink{

    color: #C21125;

}